# For Rcpp integration:
useDynLib(messina)

# Export the main fitting functions
export(messina)
export(messinaSurv)

# Export the Messina custom classes
exportClasses(MessinaClassResult, MessinaSurvResult)

importFrom("graphics", plot)
exportMethods(plot, show)
