export(messina)
export(messinaDE)
export(messinaSurv)
export(messinaTopResults)
exportClasses(MessinaClassResult)
exportClasses(MessinaSurvResult)
exportMethods(plot)
exportMethods(show)
import(ggplot2)
importFrom(Rcpp,evalCpp)
importFrom(grid,grid.layout)
importFrom(grid,grid.newpage)
importFrom(grid,popViewport)
importFrom(grid,pushViewport)
importFrom(grid,viewport)
importFrom(methods,is)
importFrom(methods,new)
importFrom(methods,show)
importFrom(plyr,aaply)
importFrom(plyr,laply)
importFrom(plyr,llply)
importFrom(survival,coxph)
importFrom(survival,survConcordance.fit)
importFrom(survival,survfit)
useDynLib(messina)
